/* src/components/Layout.css */

.layout-container {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Ensure the container takes full height of the viewport */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

/* Fullscreen Background */
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/background_photo.webp') no-repeat center center/cover;
  z-index: -1;
}

/* Ensures content is properly aligned and does not repeat background */
.content {
  width: 100%;
  min-height: calc(100vh - 120px); /* allows content to expand beyond screen height */
  padding-top: 80px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}



.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* space between image and text */
  padding: 50px 80px; /* spacing inside the container */
  width: 100%;
  max-width: 1200px; /* for centering content */
  margin: 0 auto;
}


.hero-container > h1,
.hero-container > p {
  margin: 0; /* Remove any default margin */
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  color: #fff;
  font-size: 32px;
  margin-top: 8px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}
/* Navbar Gradient */
.custom-navbar {
  background: linear-gradient(90deg, #0d47a1, #1976d2, #42a5f5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer Gradient */
.custom-footer {
  background: linear-gradient(90deg, #0d47a1, #1976d2, #42a5f5);
}
.scroll-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 0%;
  background: linear-gradient(to right, #42a5f5, #0d47a1);
  z-index: 9999;
  transition: width 0.2s ease;
}
