# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# VS Code settings (optional)
.vscode/

# MacOS files
.DS_Store

# Environment variables and secrets
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

# Build directories
build/
dist/
*.egg-info/

# Logs
*.log
